<!DOCTYPE html>
<html>
<head>
  <title>Crypta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/pure-grids-r-min-old.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/assets/pure-grids-r-min.css">
  <!--<![endif]-->
</head>
<body>
<%= render 'shared/header_compact' %>

<%= yield %>

<%= render 'shared/hover_menu' %>

</body>
</html>
